table.srt-table.srt-nowrap td,
table.srt-table.srt-nowrap th{
    white-space:nowrap; /*Default behavior*/
}

table.srt-table th{
    position: relative;
}

table.srt-table .srt-resize-handle{
    /*That's a dive that float above each column separator*/
    top:0;
    position:absolute;
    border:0;
    padding:0;
    margin:0;
    height:0;
    width:4px;
    z-index:100;

    /* background-color: rgba(255,0,0,0.2);  */
}

/* When we hover a separator when not resizing or if a separator is set "active" by Javascript*/
table.srt-table .srt-resize-handle.srt-handle-active,
table.srt-table:not(.srt-resizing) .srt-resize-handle:hover
{
    cursor: col-resize;
    /* background-color: #eaa ; */  
}
