table.watch-display{
    border-collapse: collapse;
    width:100%;
    font-family: "Arial, sans-serif";
    font-size: 14px;
}

table.watch-display tbody tr {
    padding:0;
    margin:0;
    border:1px solid #ddd;
    cursor: default;
}

table.watch-display tbody tr.selected{
    background-color: #beebff;
}

table.watch-display  td.value-cell{
    text-align:center;
}

table.watch-display  td.help-cell img{
    margin:auto;
    width: 16px;
    height: 16px;
    display:block
}

