<div class='graph-layout'>
    <div class='graph-config'>

        <table class='split-pane'>
            <thead>
                <tr>
                    <th></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td class="pane-left">
                    </td>
                    <td class='pane-right'>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="status-bar">
        <div class="status-bar-field">
            Estimated duration : <span class="label-estimated-duration">N/A</span>
        </div>
        <div class="button-block">
            <button class="configure-btn">Configure</button>
            <button class="browse-btn">Browse</button>
            <button class="acquire-btn"><strong>Acquire</strong></button>
        </div>
        
    <div>
</div>