<div class='graph-layout'>
    <div class="status-bar">
        
        <div class="status-bar-field button-block">
            <button class="btn-configure">Configure</button>
            <button class="btn-graph">Show graph</button>
            <button class="btn-browse">Browse</button>
            <button class="btn-acquire"><strong>Acquire</strong></button>
        </div>
        <div class="status-bar-field estimated-duration">
            Estimated duration : <span class="label-estimated-duration">N/A</span>
        </div>
        
    </div>
    <div class='graph-config'>

        <table class='split-pane'>
            <thead>
                <tr>
                    <th></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td class="pane-left">
                    </td>
                    <td class='pane-right'>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="graph-display">
        No Graph to show yet...
    </div>
    <div class="graph-browser">
        Nothing to browse for now...
    </div>


</div>