table.varlist-table{
    cursor: default;
}

table.varlist-table .stt-spacer{
    margin-right: 2px;
}

table.varlist-table .stt-expander{
    cursor: pointer;
    height: 12px;
    width: 12px;
    background-size: contain;
    background-repeat: no-repeat;
    display: inline-block;
}


table.varlist-table tr.stt-insert-below td{
    border-bottom: 1px solid rgb(252, 72, 243);
}

table.varlist-table tr.stt-selected{
    background-color: rgb(124, 199, 250);
}

table.varlist-table tr.stt-insert-above td{
    border-top:1px solid rgb(252, 72, 243);
}

table.varlist-table tr.stt-highlighted{
    background-color: rgb(124, 199, 250);
}

table.varlist-table tr.stt-disabled td{
    background-color: #ddd;
}

table.varlist-table tr.stt-just-dropped{
    background-color: rgb(124, 199, 250);
}