table.stt-table .stt-spacer{
    display: inline-block;
    padding: 0;
    margin: 0;
}

table.stt-table .stt-expander{
    height: 100%;
    float: right;
    clear: right;
    background-repeat: no-repeat;
}

table.stt-table .stt-dragger{
    display: inline-block;
}

table.stt-table div.stt-cell-header{
    display:inline-block;       /* Avoid useless line break in cell*/
    margin:0;
    padding:0;
}

table.stt-table td.stt-tree-cell{
    white-space: nowrap;
}