<div class="varlist-content">
    <div class="varlist-type-select-container">
        <button class='type-btn btn-var'>Variables</button>
        <button class='type-btn btn-alias'>Alias</button>
        <button class='type-btn btn-rpv'>RPV</button>
        <div style="display:inline-block" class="entries-count">
            <span class="entries-count-label"></span>
        </div>
    </div>
    
    <div class="varlist-tree-container">
        <div class="watchable-tree tree-var" style="display:none"></div>
        <div class="watchable-tree tree-alias" style="display:none"></div>
        <div class="watchable-tree tree-rpv" style="display:none"></div>
    </div>
</div>