.watch-table {
    margin:0;
    border-collapse: collapse;
    font-size: small;
}

.watch-table td,
.watch-table th{
    border-left: 1px solid #ddd;
    
    padding:1px 10px 1px 5px;
}

.watch-table th {
    border-bottom:1px solid #ddd;
    text-align: left;
    background-color: #f0f0f0;
    font-weight: bold;
}

.watch-table img.treeicon{
    display:inline-block;
    margin-top: auto;
    margin-bottom: auto;
    margin-right: 4px;
    height: 14px;
    width: 14px;
}

.watch-table tr:hover {
    background-color: #e0e0ff;
}

.watch-table div.treeicon{
    background-repeat: no-repeat;
    display: inline-block;
    
    margin-top: auto;
    margin-bottom: auto;
    margin-right: 4px;
    height: 14px;
    width: 14px;
    background-size: 14px;
}

.watch-table div.treeicon.icon-folder{
    background-image: url("assets/folder-16x16.png");
}

.watch-table div.treeicon.icon-var{
    background-image: url("assets/var-16x16.png");
}

.watch-table div.treeicon.icon-alias{
    background-image: url("assets/alias-16x16.png");
}

.watch-table div.treeicon.icon-rpv{
    background-image: url("assets/rpv-16x16.png");
}