table.stt-table .stt-spacer{
    margin-right: 2px;
}

table.stt-table .stt-expander{
    cursor: pointer;
}

table.stt-table .stt-expander-opened{
    background-image: url("expander-opened.png");
}

table.stt-table .stt-expander-closed{
    background-image: url("expander-closed.png");
}

table.stt-table .stt-dragger{
    height: 12px;
    width: 12px;
    cursor:move;
    background-image: url("dragger.png");
    background-repeat: no-repeat;
    margin-right:4px;
    background-size: 12px;
}

table.stt-table tr.stt-insert-below td{
    border-bottom-color: rgb(72, 156, 252);
}

table.stt-table tr.stt-highligted{
    background-color: rgb(124, 199, 250);
}

table.stt-table tr.stt-drop-impossible td{
    background-color: #ddd;
}

table.stt-table tr.stt-just-dropped{
    background-color: rgb(124, 199, 250);
}