
div.treeicon{
    background-repeat: no-repeat;
    display: inline-block;
    
    margin-top: auto;
    margin-bottom: auto;
    margin-right: 4px;
    height: 14px;
    width: 14px;
    background-size: 14px;
}

div.treeicon.icon-var{
    background-image: url("./assets/var-16x16.png");
}

div.treeicon.icon-alias{
    background-image: url("./assets/alias-16x16.png");
}

div.treeicon.icon-rpv{
    background-image: url("./assets/rpv-16x16.png");
}